@import "partials/_base";
@import "partials/_layouts";
@import "partials/_side_menu";
@import "partials/_header";
@import "partials/_icons";
@import "partials/_device_interface";

$font-size: 20px;

body {
  padding: 0;
  margin: 0;
  position: relative;
  font-size: $font-size;
  font-family: $base-font-family;
}

a {
  color: $color-link;
  &:hover {
    color: $color-link-hover;
  }
}

h1 {
  font-size: 50px;
}

ul {
  list-style-type: none;
}
