.device-info-enter {
  opacity: 0.01;
  @include animation-duration(.2s);
  @include animation-name(fadeIn);
}

.device-info-enter.device-info-enter-active {
  opacity: 1;
}

.device-info-leave {
  opacity: 1;
  @include animation-duration(.2s);
  @include animation-name(fadeOut);
}

.device-info-leave.device-info-leave-active {
  opacity: 0.01;
}

.device-info-container {
	position: relative;
  border: solid $width-border-outer-outline $color-border-outer-outline;
  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.6));

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: #fff;
    border-width: 20px;
    margin-left: -20px;
  }

  &:before {
    border-bottom-color: #000;
    border-width: 26px;
    margin-left: -26px;
  }

  .info {
    background-color: white;
    margin: 0 auto;
    padding: 10px;

    table {
      margin: 10px 0;
      width: 100%;
      border-collapse: collapse;

      td {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }

      th {
        text-align: left;

        font-family: "Raleway Bold";
      }
    }

    .close-button {
      float: right;

      i {
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
    }

    .name {
      display: inline;
    }

    .schedule {
      th.start-time, td.start-time,
      th.end-time, td.end-time {
        width: 33%;
      }

      th.interval, td.interval {
      }

      th.action, td.action {
        width: 7%;
        text-align: right;

        i {
          display: inline-block;
          margin: 0 1px;
        }
      }
    }

    .log {
      border-top: 1px solid #eee;

      th.time, td.time {
      }

      th.state, td.state {
        width: 15%;
        text-align: center;
      }

      th.source, td.source {
        width: 20%;
      }
    }
  }
}
