.tasks-container {
  overflow: hidden;
  width: 100%;

  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;

  padding: 10px 0;

  .tasks {
    width: 200%;

    i {
      cursor: pointer;
    }
  }

  .tasks-list {
    text-align: center;
  }

  .edit-schedule {
    text-align: center;

    .back {
      float: left;
    }

    table.details {
      border: 0;
      position: relative;
      top: 10px;

      td {
        font-family: "Raleway Light", sans-serif;
        font-size: 20px;

        border: 0;

        height: 32px;
        padding: 2px;

        &.left {
          width: 50%;
        }

        &.right {
          text-align: right;
        }
      }
    }

    input, select, button {
      font-family: "Raleway Light", sans-serif;
      font-size: 20px;

      border: 0;
      border-bottom: 1px solid #aaa;
      box-sizing: border-box;

      padding: 3px;

      text-align: right;
    }

    button {
      padding: 7px;
      border: 1px solid #aaa;
      border-radius: 5px;
    }

    div.custom-select {
      display: inline-flex;

      height: 30px;

      overflow: hidden;

      border: 0;
      border-bottom: 1px solid #aaa;

      box-sizing: border-box;

      position: relative;

      padding-right: 20px;

      &:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f078";
        position: absolute;
        top: 7px;
        right: 5px;
      }

      select {
        background: transparent;
        line-height: 1;
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        outline: none;

        height: 100%;
      }
    }

    input.interval {
      height: 30px;
      width: 40px;
      text-align: right;
    }
  }
}

.tasks-list, .tasks-edit-schedule {
  display: inline-block;
  width: 50%;

  @include transition(transform, 0.3s, ease-in);
}

.tasks-edit-schedule {
  transform: translateX(0%);

  &.focus {
    transform: translateX(-100%);
  }
}

.tasks-list {
  transform: translateX(-100%);

  &.focus {
    transform: translateX(0%);
  }
}
