.device-info-container {
  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
  }

  .info {
    $width: 400px;
    width: $width;
    background-color: white;
    display: inline;
    position: absolute;
    top: 20%;
    margin-left: -$width/2;
    z-index: 100;

    .close-button {
      width: 100%;
      text-align: right;

      i {
        margin: 10px;
        cursor: pointer;
      }
    }

    .name {
      display: inline;
    }
  }
}
