/*I converted the SVG in /img/svg/ to an icon-font because SVGs are unruly to work with*/
/*I used this site: http://app.fontastic.me/#publish/font/VcS7nKKDAgCk6QJM8hrUZe*/

@charset "UTF-8";

@font-face {
  font-family: "device_icons";
  src:url("/fonts/icon-fonts/device_icons.eot");
  src:url("/fonts/icon-fonts/device_icons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icon-fonts/device_icons.woff") format("woff"),
    url("/fonts/icon-fonts/device_icons.ttf") format("truetype"),
    url("/fonts/icon-fonts/device_icons.svg#device_icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "device_icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "device_icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "a";
}
.icon-lock-off:before {
  content: "b";
}
.icon-lock-on:before {
  content: "c";
}
.icon-outlet-off:before {
  content: "d";
}
.icon-outlet-on:before {
  content: "e";
}
.icon-stove-off:before {
  content: "f";
}
.icon-stove-on:before {
  content: "g";
}


@font-face {
  font-family: 'device-fontello';
  src: url('/fonts/icon-font/device_fontello.eot?33476412');
  src: url('/fonts/icon-font/device_fontello.eot?33476412#iefix') format('embedded-opentype'),
       url('/fonts/icon-font/device_fontello.woff?33476412') format('woff'),
       url('/fonts/icon-font/device_fontello.ttf?33476412') format('truetype'),
       url('/fonts/icon-font/device_fontello.svg?33476412#device') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'device';
    src: url('/fonts/icon-font/device_fontello.svg?33476412#device') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "device-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-fontello-stove_on:before { content: '\e800'; } /* '' */
.icon-fontello-info:before { content: '\e801'; } /* '' */
.icon-fontello-lock_off:before { content: '\e802'; } /* '' */
.icon-fontello-lock_on:before { content: '\e803'; } /* '' */
.icon-fontello-outlet_off:before { content: '\e804'; } /* '' */
.icon-fontello-outlet_on:before { content: '\e805'; } /* '' */
.icon-fontello-stove_off:before { content: '\e806'; } /* '' */
