$width-drawer-expanded: 300px;
$width-drawer-collapsed: 50px;
$delay-drawer-transition: .3s;
// the body has two states collapsed and expanded
// collapsed means the drawer is closed and expanded
// means the drawer is open. We control the drawer by
// setting its width, and at the same time, setting the
// main container's left margin so that they move together
//
// The default state of the page on load depends
// on the viewport size and is set when react initilizes
// the view.
body {
  &.collapsed {
    #menu-side {
      background-color: white;
      width: $width-drawer-collapsed;

      .content {
        opacity: 0;
      }
    }

    #main-container {
      margin-left: $width-drawer-collapsed;
    }
  }
}

#main-container {
  &.dark {
    background-color: $color-main-container-dark;

    div {
      color: $color-primary-light;
    }
  }

  &.light {
    background-color: $color-main-container-light;
  }

  height: 100%;
  @include transition(margin-left, linear, $delay-drawer-transition);

  header {
    text-align: center;
  }

  margin-left: $width-drawer-expanded;

  .content {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
