$delay-drawer-transition: .3s;
// the body has two states collapsed and expanded
// collapsed means the drawer is closed and expanded
// means the drawer is open. We control the drawer by
// setting its width, and at the same time, setting the
// main container's left margin so that they move together
//
// The default state of the page on load depends
// on the viewport size and is set when react initilizes
// the view.
#main-container {
  position: relative;

  &.dark {
    background-color: $color-main-container-dark;
    .content {

    }
    div {
      color: $color-primary-light;
    }
  }

  &.light {
    background-color: $color-main-container-light;
  }

  &.menu-collapsed {
    margin-left: 0;
  }

  @include transition(margin-left, linear, $delay-drawer-transition);

  header {
    text-align: center;
  }

  margin-left: $width-drawer-expanded;
  @media (max-width: $breakpoint-phone-small) {
    margin-left: $width-drawer-expanded-mobile;
  }

  &:not(.menu-collapsed) {
    @media (max-width: $breakpoint-fixed-size) {
      position: fixed;
      width: 100%;
    }
  }

  .content {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
