$width-drawer-expanded: 300px;
#menu-side {
  z-index: 100;
  position: fixed;
  box-sizing: border-box;
  float: left;
  height: 100%;
  
  width: $width-drawer-expanded;
  @media (max-width: $breakpoint-phone-small) {
    width: $width-drawer-expanded-mobile;
  }

  background-color: $color-side-menu-background;
  overflow: hidden;
  @include transition(width, linear, $delay-drawer-transition);
  @include transition(background-color, ease-in, $delay-drawer-transition);
  @include box-shadow(1px 0 5px -2px);

  .content {
    @include transition(opacity, linear, $delay-drawer-transition);
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: white;

    li {
      padding: 20px;
      box-sizing: border-box;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      margin-top: -1px;
      font-size: 30px;
    }
  }

  &.collapsed {
    width: 0;
  }
}

.image-circular {
  width: 200px;
  height: 200px;
  margin: 2em auto;
  background-size: 100% !important;
  @include border-radius(150px);
  @include box-shadow(0 1px 5px 0 rgba(0, 0, 0, 0.4));
}
