.time-picker-container {
    display: inline-block;
    width: 250px;

    input.time {
      width: 100%;
    }

    .dropdown {
        margin-top: 15px;

        width: 100%;
        border-radius: 5px;
        border: 2px solid #000000;
        background: #ffffff;
        box-sizing: border-box;

        table.time {
            border: 0;
            margin: 0;

            td {
                text-align: center;
                border: 0;
                padding: 5px;

                &.hour, &.minute, &.timezone {
                    width: 30%;
                }

                &.semicolon {
                    width: 3%;
                }
            }
        }

        table.date {
            border: 0;
            margin: 0;

            border-collapse: separate;
            border-spacing: 3px;

            td {
                text-align: center;
                border: 0;

                &.day {
                  padding: 5px;
                  border-radius: 5px;
                }

                &.faded {
                  color: #aaa;
                }

                &.day:hover {
                  background-color: #eee;
                  color: #000;
                }

                &.selected {
                  background-color: $color-side-menu-background;
                  color: #fff;
                }

                &.selected:hover {
                  background-color: #999;
                  color: #fff;
                }

                &.today {
                  background-color: $color-login-highlight;
                  color: #fff;
                }
            }
        }

        td.swap-button {
          border-top: 1px solid #eee;
          text-align: center;
          font-family: "Raleway Bold";
        }

        &.hidden {
            display: none;
        }
    }
}
