//base
$color-link: #357ACC;
$color-link-hover: #0051B2;

$color-primary-dark: black;
$color-primary-light: white;

//layouts
/*$color-side-menu-background: #2A577F;*/
$color-side-menu-background: #393A3F;
$color-main-container-light: white;
$color-main-container-dark: #393A3F;
$color-main-content: #838487;
$color-login-highlight: #CC6F1C;
